apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ name }}
{% if namespace %}
  namespace: {{ namespace }}
{% endif %}
{% if annotations %}
  annotations:
{% for key, value in annotations.items() %}
    {{ key }}: {{ value | tojson }}
{% endfor %}
{% endif %}
spec:
  ingressClassName: {{ ingress_class_name }}
  rules:
    - host: {{ domain }}
      http:
        paths:
          - path: {{ path }}
            pathType: {{ path_type }}
            backend:
              service:
                name: {{ service_name }}
                port:
                  number: {{ service_port }}
{% if tls_enabled %}
  tls:
    - hosts:
        - {{ domain }}
{% endif %}