apiVersion: v1
kind: Service
metadata:
  name: {{ name }}
spec:
  type: {{ service_type }}
  selector:
{% for key, value in selector.items() %}
    {{ key }}: {{ value }}
{% endfor %}
  ports:
{% for port in service_ports %}
    - name: {{ port.name }}
      port: {{ port.port }}
      targetPort: {{ port.targetPort }}
      protocol: {{ port.protocol }}
{% if port.nodePort %}
      nodePort: {{ port.nodePort }}
{% endif %}
{% endfor %}